*
{
    margin: auto;   
}

.body
{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 28%, rgba(236,233,230,1) 47%);
    
}

.titulo_proyecto
{
    font-family: sans-serif;
    text-align: center;
    font-weight: 600px;
    font-size: 30px;
    margin-bottom: 1%;
    margin-top: 2%;
}


.kanban
{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    width: auto;
    background: rgb(236,167,197);
    background: linear-gradient(90deg, rgba(236,167,197,1) 0%, rgba(112,135,205,1) 100%);
    border-radius: 5px;
    margin: 1%;
    float: right;
}

.kanban * 
{
    font-family: sans-serif;
    box-sizing: border-box;
}

.kanban_column_title
{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    user-select: none;
    font-weight: bold;
}

.kanban_element_input
{
    display: flex;
    width: 30%;
    height: auto ;
    background: #32327e;
    flex-wrap: wrap;
    margin-top: 1%;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 1%;
    min-height: 349px;
    
}

.titulo_form
{
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    box-sizing: border-box;
    margin-top: 5%;
    color: white;
}

.form_nueva_tarea
{
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px 0 12px 0;
    width: auto;
    padding: 2px;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.form_nueva_tarea input
{
    height: 25px;
    width: 80%;
    margin-bottom: 3%;

}

.form_nueva_tarea label
{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 1%;
}

.fecha
{
    text-align: center;
    font-family: sans-serif;
    color: grey;
}

.añadir_tarea
{
    width: 50%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kanban_column
{
    width: 23%;
    border-radius: 5px;
    padding: 5%;
}



